$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-clear: "\e902";
$icon-insert_emoticon: "\e901";
$icon-minus: "\e90e";
$icon-plus: "\e90f";
$icon-bookmark: "\e911";
$icon-link: "\e912";
$icon-share: "\e913";
$icon-search1: "\e92f";
$icon-dots-three-horizontal: "\e915";
$icon-twitter: "\e91c";
$icon-image: "\e900";
$icon-retweet: "\e908";
$icon-heart-o: "\e909";
$icon-heart: "\e90a";
$icon-star: "\e917";
$icon-envelope: "\e914";
$icon-check-circle: "\e910";
$icon-comment-o: "\e907";
$icon-home: "\e90b";
$icon-user-circle: "\e90c";
$icon-edit: "\e90d";

